{
    "presets": [
        "env",
        "stage-2"
    ],
    "plugins": [
        [
            "module-resolver", {
                "root": ["./src"],
                "alias": {
                    "config": "./config"
                }
            }
        ]
    ],
    "ignore": [
        "node_modules/*",
        "dist/*"
    ]
}
